/*
	Theme Name: Cranius theme
	Theme URI: http://hacemosloquenosgusta.com
	Description: Tema personnalizado para agencia digital Cranius
	Version: 2.0
	Author: Jose Avila
	Author URI: http://joseavila.tk
	Tags: Blank, HTML5, CSS3, jQuery, PHP

	License: grupo hacemosloquenosgusta
	License URI: http://hacemosloquenosgusta.com
*/
@import url('css/style.css');

/* jose styles */

.top-spacer{
	margin-top: 5em !important;
}

.home-menu nav a{
	color: #00b188 !important;
}

.slide-holder{
	display: flex;
	align-items: center;
}
.swiper-slide:nth-child(2) .col-sm-7 {
	order: 2;
}
.swiper-slide:nth-child(2) .col-sm-5{
	order: 1;
}
.swiper-slide .img-slide{
	background-size: contain !important;
}
.contact-form .f-col{
	display: flex;
	flex-flow: row;
	margin: 1em 0;
}

h2.p-title{
	font-weight: bolder;
	font-size: 2.5em;
}

.contact-form .f-col .entrada{
	padding: 0 5px;
}
.contact-form .send-button{
	max-height: 2em;
	width: unset;
	position: relative;
	margin-top: 1em;
}
.contact-form .send-button input[type=submit]{
	opacity: 1 !important;
}

/* blog */
#blog .sa h3{
	font-size: 60px;
}

/* sidebar */

.sidebar-entry .sidebar-title{
	font-size: 16px;
	line-height: 1.6em;
	margin-bottom: 20px;

}
.widget_categories ul a{
	font-size: 13px;
	line-height: 28px;
	color: #898989;
	display: inline-block;
	padding-left: 40px;
	position: relative;
	transition: all .15s;
	-webkit-transition: all .15s;
	display: block;
	margin-right: 28px;
}
.widget_categories ul a:before{
	width: 23px;
	height: 1px;
	background: currentColor;
	left: 0;
	top: 14px;
	content: "";
	position: absolute;
}

.widget_categories ul a:hover{
	color: #0e363d;
	transition: 0.5s all ease;
}

.widget_tag_cloud{
	font-size: 0;
}
.widget_tag_cloud a{
	display: inline-block;
	white-space: nowrap;
	line-height: 27px;
	padding: 0 10px;
	background: #ebebeb;
	font-size: 12px;
	color: #898989;
	margin: 0 5px 5px 0;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.widget_tag_cloud a:hover{
	color: #fff;
	background: #144f5a;
}

/* blog  */

.blog-landing-entry .blog-title{
	color: #144f5a;
	font-size: 28px;
	font-weight: bolder;
}

.blog-landing-entry .blog-day{
	font-size: 40px;
	font-weight: bolder;
	color: #db565d;
}
.blog-landing-entry .blog-date{
	font-size: 22px;
	font-weight: bold;
	color: #db565d;
}